
/*base de la pagina*/
* {
    margin: unset;
    padding: unset;
    outline: unset;
    border: unset;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    background-color: #2D2341;
}

.main {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 100%;
    height: 100vh;
    overflow-y: hidden;
}


/* / parte A del reproductor*/
.main__A {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}


/*la portada con su imagen :3*/
.main__A__portada {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 10px;
    color: aliceblue;
    flex-direction: column;
}

.main__A__portada img {
    height: 100%;
}


/*el titulo de la cancion en reproduccion*/
.main__A__portada__contenido {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 10px;
    gap: 25rem;
    margin-left: 2px;
}


.main__A__portada__contenido h3 {
    color: aliceblue;
}

.main__A__portada__contenido h4 {
    color: #907BB1;
    margin-top: 10px;
    font-weight: normal;
}


/*el corazon al lado del titulo*/
.main__A__portada__contenido__corazon img:last-child {
    display: none;
}
.main__A__portada__contenido__corazon:hover img:last-child {
    display: block;
}
.main__A__portada__contenido__corazon:hover img:first-child {
    display: none;
}
 


/*barra de reproduccion*/
.main__A__reproduccion {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 5vw;
}

.main__A__reproduccion__player {
    /* -webkit-appearance: none; */
    outline: none;
    border: none;
    margin-top: 40px; 
    width: 100%;
    height: 5px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
}

.main__A__reproduccion__player::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: aliceblue;
    width: 10px;
    height: 10px;
    border-radius: 10px; 
    margin-top: -2px;
    box-shadow: -400px 0 0 400px #D92BAB;
}

.main__A__reproduccion__player::-webkit-slider-runnable-track {
    background-color: #907BB1;
    height: 6px;
    border-radius: 3px;
}


/*tiempo de la cancion reproduciendo*/
.main__A__reproduccion__numeros {
    color: #6A45AF;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    /* gap: 30rem; */
    /* margin-left: -400px; */
}


/*botones de reproduccion*/
.main__A__iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    gap: 70px;
}

.main__A__iconos span:hover {
    background: #D92BAB;
    box-shadow: 0 0 10px #D92BAB, 0 0 40px #D92BAB, 0 0 80px #D92BAB;
    transition-delay: 0.5ms;
}


/* para cambiar de color los botones*/

/*play y pause*/

.main__A__iconos__play img:last-child {
    display: none;
}
.main__A__iconos__play:hover img:last-child {
    display: block;
}
.main__A__iconos__play:hover img:first-child {
    display: none;
}

/*adelantar*/
.main__A__iconos__adelante img:last-child {
    display: none;
}
.main__A__iconos__adelante:hover img:last-child {
    display: block;
}
.main__A__iconos__adelante:hover img:first-child {
    display: none;
}

/*aleatorio*/
.main__A__iconos__aleatorio img:last-child {
    display: none;
}
.main__A__iconos__aleatorio:hover img:last-child {
    display: block;
}
.main__A__iconos__aleatorio:hover img:first-child {
    display: none;
}

/*atras*/
.main__A__iconos__atras img:last-child {
    display: none;
}
.main__A__iconos__atras:hover img:last-child {
    display: block;
}
.main__A__iconos__atras:hover img:first-child {
    display: none;
}

/*repetir*/
.main__A__iconos__repetir img:last-child {
    display: none;
}
.main__A__iconos__repetir:hover img:last-child {
    display: block;
}
.main__A__iconos__repetir:hover img:first-child {
    display: none;
}









/* / parte B del reproductor*/

.main__B {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    height: 100%;

}


/*botones de arriba*/
.main__B__botones button{
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    flex-direction: column;
    margin: 22px;
    background: #473072;
    font: bold;
    color: #907BB1;
}

.main__B__botones button:hover {
    background: #907BB1;
    box-shadow: 0 0 10px #907BB1, 0 0 40px #907BB1, 0 0 80px #907BB1;
    transition-delay: 0.5ms;
    color: aliceblue;
}


/*la barra del buscador*/
.main__B__buscar {
    display: inline;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: -20px;
}

.main__B__buscar input {
    padding: 5px;
    padding-right: 120px;
    outline: none;
    background: none;
    border-style: solid;
    border-color: #907BB1;
    border-width: 1px;
    color: aliceblue;
}

.main__B__buscar button {
    background: none;
    position: absolute;
}


/*las canciones*/

/*la primera cancion que suena*/
.main__B__songs {
    /* display: inline; */
    /* justify-content: center; */
    /* align-items: center; */
    flex-grow: 1;
    color: #907BB1;
    width: 100%;
    padding: 0 30px;
    overflow-y: auto;
}

.main__B__songs__song1 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #907BB1;
}

.main__B__songs__song1 img {
    display: flex;
    margin-left: 200px;
    margin-top: 13px;
}

.main__B__songs__song1__titulo h2 {
    color: aliceblue;
}


/*el resto de las canciones*/
.main__B__songs__songcita {
    /* display: inline; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    /* box-sizing: 150px; */
    
}

.main__B__songs__songcita__titulos {
    /* display:inline; */
    padding: 50px;
    
}

.main__B__songs__songcita p {
    display: flex; 
    /* margin-top: -50px; */
    /* margin-left: 285px; */
    /* margin-bottom: 55px; */
    color: #6A45AF;
}

.main__B__songs__songcita__titulos h4 {
    color: #6E5A95;
    font-style: normal;
}